    header {
      text-align: center;
      background-size: cover;
      color: rgba(255,255,255,1);
    }
    a {
      color: rgba(255,255,255,1);
      text-decoration: underline;
    }
    h1 {
      font-size: 70px;
      font-family: 'Bree Serif', serif;
    }
    /*img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 150px;
    }*/
    ul {
      padding: 10px;
      background: rgba(25,25,240,.5);
      color: rgba(0,0,0,1);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
      color: rgba(0,0,0,1);
      font-size: 30px;
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    div {
      color: rgba(250,250,250,1);
      /*background-color: rgba(25,25,240,.5);*/
      text-align: center;
      font-size: 20px;
    }
    /*body {
      padding: 0 0 50px 0;
      background-size: cover;
      background-position: center;
    }*/
    body.index {
      background: url("images/Putin_bear_cavalry.jpg");
      /*background: url("bear_cavalry.jpg");*/
      padding: 0 0 50px 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    body.story {
      background: url("https://farm9.staticflickr.com/8177/7901438886_04a9314a7a_b.jpg");
      padding: 0 0 50px 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    body.oracle {
      background: url("http://www.ancient-origins.net/sites/default/files/styles/large/public/field/image/oracle-delphi.jpg?itok=b5svXLkS");
      padding: 0 0 50px 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    body.contact {
      background: url("http://s7.computerhistory.org/is/image/CHM/500004289-03-01?$re-medium$");
      padding: 0 0 50px 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    #omg {
      border-radius: 200px;
    }
    #answer-div {
      margin-top: 50px;
    }
    /*#scroll-container {
      overflow: scroll;
    }*/
    .pretend-button {
      background-color: white;
      text-decoration: none;
      color: black;
      font-size: 30px;
      border: 1px solid black;
      border-radius: 5px;
      box-shadow: 5px 5px 5px #888888;
      font-family: 'Oswald', sans-serif;
      margin-right: 20px;
      margin-left: 20px;
      cursor:pointer;
    }
    .pretend-button:hover {
      color: blue;
    }
    .pretend-button:active {
      position: relative;
      top: 1px;
    }
    .blammo {
      margin-top: 30%;
    }
    .title {
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      background: rgba(10,10,10,.75);      
    }
    .story {
      color: rgba(255,255,255,1);
    }
    .oracle {
      color: rgba(255,30,30,1);
    }
    .contact {
      color: rgba(255,255,255,1);
    }
    .david-picture {
      border-radius: 200px;
    }
    .project-description {
      background: rgba(10,10,10,.75);
      color: white;
    }
    .oracle-question {
      background: rgba(10,10,10,.25);
      color: white;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }
